
/* Container holding the image and the text */
.banner {
  position: relative;
  text-align: center;
  color: white;
  padding: 2px;
  
}
.banner > img {
  height: 15rem;
  object-fit: cover;

}
img{
  width: 100%;
}
.banner button {
  width: auto;
  height: auto;
  border:none;
  border:solid 2px white;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  font-size: 35px;
  color: white;
}

button:hover {
  background:grey;
  color:white; 
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#categories {
  width: 15rem;

}
@media (max-width: 700px) {
  #categories {
    width: 100%;
  }
}
.pageNumbers {
  list-style: none;
  display: flex;
}
.pageNumbers li {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.pageNumbers li.active {
  background-color: grey;
  color: white
}
.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li:hover {
  background-color: grey;
  color: black;
}